body {
  background-color: #0D031C;
  color: var(--color-white);
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
}


/* .signature-works{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  background-color: #ffffff; 
  padding-top: 474px;
  padding: 0 0 130; 
} */





@function pxToRem($pixel) {
  @return $pixel / 16+rem;
}

:root {
  --color-black:#0D031C;
  --color-white: hsla(0, 0%, 100%, 100%);
  --color-purple: hsla(278, 100%, 75%, 100%);
}

body {
  background-color: var(--color-black);
  color: var(--color-white);
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
}

main {
  margin: 0;
}

.main_visual {
  position: relative;
  width: 100%;
  overflow-x: hidden;
  padding-top: 100px;
}

.text_reveal_section {
  min-height: 100vh;
  background-color: #ffffff; /* lf you're  */
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.opacity_reveal {
  font-size: clamp(2rem, 5vw, 4.375rem);
  text-align: center;
  width: 60%;
  line-height: 1.5;
  color: rgba(240, 187, 119, 0.2);
  background: linear-gradient(to right,
      #fff,
      #000 no-repeat);
  -webkit-background-clip: text;
  background-clip: text;
  background-size: 0%;
  transition: background-size cubic-bezier(0.1, 0.5, 0.5, 1) 0.5s;
}












.main_heading {
  font-size: clamp(3.125rem, 3.464vw + 2.229rem, 5rem);
  line-height: clamp(4.688rem, 3.349vw + 3.821rem, 6.5rem);
  margin: pxToRem(100) 0;
  text-align: center;
  opacity: 0.1;
  position: absolute;
  left: 50%;
  margin: 0;
  top: 50%;
  transform: translate3d(-50%, -50%, -2000px);
  white-space: nowrap;
  line-height: 1.5;
}

.zoom_container {
  height: 100vh;
  overflow: hidden;
  position: relative;
  perspective: 100svh;
  width: 100%;
}

.zoom_item {
  position: absolute;
  transform-origin: center center;

  &[data-layer="3"] {
    opacity: 0.6;
    z-index: 3;
  }

  &[data-layer="2"] {
    opacity: 0.4;
    z-index: 2;
  }

  &[data-layer="1"] {
    opacity: 0.2;
    z-index: 1;
  }

  &:nth-child(2) {
    left: 15vw;
    top: 21%;
    width: 11.5vw;
  }

  &:nth-child(3) {
    left: 29%;
    top: 15%;
    width: 9.2vw;
  }

  &:nth-child(4) {
    left: 36%;
    top: 3%;
    width: 11.5vw;
  }

  &:nth-child(5) {
    right: 30%;
    top: 11%;
    width: 7.6vw;
  }

  &:nth-child(6) {
    bottom: auto;
    right: 7%;
    top: 28%;
    width: 13.2vw;
  }

  &:nth-child(7) {
    bottom: 32%;
    right: 3.5%;
    width: 4.7vw;
  }

  &:nth-child(8) {
    bottom: 13.5%;
    left: 16%;
    width: 10.5vw;
  }

  &:nth-child(9) {
    bottom: 24%;
    left: 29%;
    width: 5.9vw;
  }

  &:nth-child(10) {
    bottom: 46%;
    left: 7.5%;
    top: auto;
    width: 5.2vw;
  }

  &:nth-child(11) {
    bottom: 5.5%;
    right: 15%;
    width: 15vw;
  }

  &:nth-child(12) {
    bottom: 10.5%;
    left: auto;
    right: 38%;
    width: 8.3vw;
  }

  &:nth-child(13) {
    right: 4%;
    top: 5%;
    width: 6.1vw;
  }

  &:not(.main_heading) {
    max-height: 300px;
    max-width: 300px;
  }

  img {
    width: 100%;
  }
}


.container {}






.tit_eng {
  color: var(--maincolor-main-1000, #bfa473);
  text-align: left;
  font-family: var(--1920-56-font-family, "Assistant-Bold", sans-serif);
  font-size: var(--1920-56-font-size, 56px);
  line-height: var(--1920-56-line-height, 130%);
  font-weight: var(--1920-56-font-weight, 700);
  text-transform: uppercase;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  right: 80px;
}
 


.sw_img {
  display: flex;
  flex-wrap: wrap;
  gap: 95px;
  justify-content: center;
}

.sw_img img {
  width: 100%;
  max-width: 400px;
  min-width: 300px;
  height: auto;
  border-radius: 18px;
  transition: transform 0.6s ease, box-shadow 0.6s ease;
  border-radius: 16px;
  cursor: pointer;
}

.sw_img img:hover {
  transform: scale(1.05);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.3);
}



.signature-works p {
  font-size: 24px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 40px; /* 제목과 이미지 사이 여백 */
}

section h2 {
  color: var(--maincolor-main-1000, #bfa473);
  text-align: left;
  font-family: var(--1920-56-font-family, "Assistant-Bold", sans-serif);
  font-size: var(--1920-56-font-size, 56px);
  line-height: var(--1920-56-line-height, 130%);
  font-weight: var(--1920-56-font-weight, 700);
  text-transform: uppercase;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0;
  margin-top: 200px;
  margin-bottom: 40px;
  margin-left: 210px;
}





.button-group {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px; /* 버튼 간 간격 */
  margin-left: 210px;
  margin-bottom: 40px;
}

.button-group button {
  padding: 8px 30px;
  font-size: 24px;
  color: #fff;
  border-radius: 32px;
  cursor: pointer;
  border: 1px solid #ccc;
  transition: all 0.5s ease;
  background: transparent;
}

.button-group button:hover {
  transform: translateY(-4px);
  box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.5), -6px -6px 12px rgba(255, 255, 255, 0.15);
  background: linear-gradient(145deg, #c5a87f76, #a8855588);
}




.Filter {
  margin-left: auto; /* 오른쪽 끝 배치 */
  margin-right: 200px; /* 오른쪽 끝에서 안쪽간격 */
  padding: 8px 30px; /* 위아래 8px, 좌우 40px */
  font-size: 24px;
  font-weight: 700; /* 폰트굵기 */
  color: #ffffff;
  background: linear-gradient(150deg, #ffffff, #ffffff);
  border-radius: 18px;
  cursor: pointer; /* 마우스 올려놨을 때 손가락버튼바낌 */
  transition: all 0.5s ease;
  text-align: center;
  border: 1px solid #ccc;
  background: transparent; /* 배경 투명 */
  appearance: none; /* 브라우저 기본 화살표 제거 */
}

.Filter::after{ right: 50px; }

.Filter option {
  color: #ffffff; /* 옵션 텍스트 색 */
  background: rgb(0, 0, 0); /* 옵션 배경 */
}


.Filter:hover {
  transform: translateY(-4px);
  box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.5), -6px -6px 12px rgba(255, 255, 255, 0.15);
  background: linear-gradient(145deg, #c5a87f76, #a8855588);
}


ul.poster-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 50px; /* 5개 박스 사이 자동 간격 */
  margin: 0 200px; /* 양쪽 200px 여백 */
  /* 한 줄로 유지 */
}



ul.poster-list li {
  width: 268px;
  margin-bottom: 50px;
}

.poster-title {
  display: block;
  color: #948484;
  font-weight: 500;
  font-size: 25px;
  margin-top: 20px; /* 위쪽 간격 */
  /*   text-align: center; */
  line-height: 1.5;
}

.poster-list img {
  width: 268px;
  height: 390px;
  border-radius: 5px;
  filter: brightness(0.9); /* 이미지어둡게 조절 */
  cursor: pointer;
}

/* Pagination + Search Container */


.pagination-search {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  margin: 80px 0;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

/* Search Box */
.search-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  position: relative;
}

.search-box input {
  width: 300px;
  padding: 15px 20px;
  border-radius: 30px;
  border: 1px solid #eee;
  font-size: 16px;
  outline: none;
  background-color: #f7f7f7;
  color: #333;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}

.search-box input::placeholder {
  color: #aaa;
  transition: color 0.3s ease-in-out;
}

.search-box input:focus {
  border-color: #6c63ff;
  background-color: #fff;
}

.search-box input:focus::placeholder {
  color: #6c63ff;
}

.search-box button {
  padding: 12px 18px;
  background-color: #6c63ff;
  color: white;
  border: none;
  border-radius: 30px;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.search-box button:hover {
  background-color: #5a54e7;
}



/* Page Numbers */
.page-numbers {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  flex-wrap: wrap;
}

.page-numbers .page {
  color: #333;
  padding: 12px 18px;
  border-radius: 50%;
  text-decoration: none;
  font-size: 16px;
  border: 1px solid #ddd;
  transition: all 0.3s ease;
}

.page-numbers .page:hover {
  background-color: #6c63ff;
  color: white;
}

.page-numbers .page.active {
  background-color: #6c63ff;
  color: white;
  border-color: #6c63ff;
}

.page-numbers .dots {
  color: #aaa;
  font-size: 16px;
}

section h2 {
  margin-top: 150px; /* 기존 200px → 50px으로 줄임 */
  margin-bottom: 30px; /* 섹션 내 제목과 콘텐츠 간격 */
}


.last-section {
  width: 100%;
  height: 120vh; /* outo; 150vh 온에어랑 큰포스터 둘의 간격*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 60px; /* on-air와의 간격 */
} 

.last-section img {
  width: 100%;
  border-radius: 18px;
}

.last-section span {
  color: #FFF;
  font-size: 24px;
  font-weight: 500;
  line-height: normal;
  display: block;
  text-align: center;
  margin-top: 35px;
}




/* -------------------------------
   포스터 3D 인터랙티브 효과 망한거 복구해
---------------------------------*/
/* 
.poster-box1 {
  width: 269px;
  height: 380px;
  border-radius: 5px;
  filter: brightness(0.9);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  transform-style: preserve-3d;
}

.poster-box1:hover img {
  box-shadow: 0 15px 25px rgba(0,0,0,0.3);
} */