@charset "utf-8";
@media (max-width: 1450px) {
  .sect_inner{
    padding-inline: 100px;
  }
}


/* --- 테블릿, 작은 데스크탑 --- */
@media (max-width: 1024px) {
  /* 여기에 1024px 이하일 때 적용될 스타일을 작성하세요. */
  .sect_inner{
    padding-inline: 80px;
  }
}

/* --- 모바일 --- */
@media (max-width: 440px) {
  /* 여기에 440px 이하일 때 적용될 스타일을 작성하세요. */
  .sect_inner{
    padding-inline: 30px;
  }
}
