@charset "utf-8";

@media (max-width: 1580px) {
  .sect_inner{padding-inline: 100px;}
  .hero .imgbox {right: 100px;
  position: absolute;
  right: 100px;
  top: 80px;}
  .contest-winner .decoImg{width: 190px;
}
}
@media (max-width: 1450px) {
  .sect_inner{padding-inline: 100px;}
  .hero .imgbox {right: 100px;}
  .smiling-emoji{width: 280px;}
  .contest-winner .decoImg{width: 190px;
}
}


/* --- 테블릿, 작은 데스크탑 --- */
@media (max-width: 1024px) {
  /* 여기에 1024px 이하일 때 적용될 스타일을 작성하세요. */
  .sect_inner{padding-inline: 80px;}
  .hero li{font-size: 82px;}
  .hero .imgbox {right: 80px;
  }
  .smiling-emoji{width: 158px;}
  .contest-winner .decoImg{width: 190px;}
}


/* --- 모바일 --- */
@media (max-width: 440px) {
  /* 여기에 440px 이하일 때 적용될 스타일을 작성하세요. */
  .sect_inner{padding-inline: 30px;}
  .contest-winner .decoImg{width: 190px;}
  .hero .imgbox {right: 30px;}
}