@charset "utf-8";

/* Figma Styles of your File */
:root {
    /* Colors */
    --w: #f5f5f5;
    --b: #0d031c;
    --wf: #ffffff;
    --gra: linear-gradient(180deg,
            rgba(136, 63, 254, 0.58) 0%,
            rgba(13, 3, 28, 0.58) 100%);
    --subb2-main-1000: #394199;
    --subb1-main-1000: #1a26ad;
    --subr2-main-1000: #aa3229;
    --subr2-200: #f5d6d0;
    --subr2-900: #bd4033;
    --subr1-main-1000: #b22318;
    --maincolor-main-1000: #bfa473;
    --maincolor-400: #e5dac6;
    --maincolor-1400: #483d28;
    --g-main-1000: #a6a6a6;
    --g-300: #e4e4e4;
    --g-200: #ededed;
    --b-700: #4a4259;
    --b-200: #c7c5cd;

    /* Fonts */
    --1920-70-font-family: Assistant-Bold, sans-serif;
    --1920-70-font-size: 70px;
    --1920-70-line-height: 130%;
    --1920-70-font-weight: 700;
    --1920-70-font-style: normal;
    --1920-56-font-family: Assistant-Bold, sans-serif;
    --1920-56-font-size: 56px;
    --1920-56-line-height: 130%;
    --1920-56-font-weight: 700;
    --1920-56-font-style: normal;
    --1920-gnb-font-family: Assistant-Regular, sans-serif;
    --1920-gnb-font-size: 22px;
    --1920-gnb-line-height: 130%;
    --1920-gnb-font-weight: 400;
    --1920-gnb-font-style: normal;
    --1920-gnb-font-family: Assistant-Bold, sans-serif;
    --1920-gnb-font-size: 30px;
    --1920-gnb-line-height: 130%;
    --1920-gnb-font-weight: 700;
    --1920-gnb-font-style: normal;
    --1920-b-40-font-family: Assistant-Bold, sans-serif;
    --1920-b-40-font-size: 40px;
    --1920-b-40-line-height: 130%;
    --1920-b-40-font-weight: 700;
    --1920-b-40-font-style: normal;
    --1920-l-40-font-family: Assistant-Regular, sans-serif;
    --1920-l-40-font-size: 40px;
    --1920-l-40-line-height: 130%;
    --1920-l-40-font-weight: 400;
    --1920-l-40-font-style: normal;
    --1920-b30-font-family: Assistant-Bold, sans-serif;
    --1920-b30-font-size: 30px;
    --1920-b30-line-height: 100%;
    --1920-b30-font-weight: 700;
    --1920-b30-font-style: normal;
    --1920-l-30-font-family: Assistant-Light, sans-serif;
    --1920-l-30-font-size: 30px;
    --1920-l-30-line-height: 100%;
    --1920-l-30-font-weight: 300;
    --1920-l-30-font-style: normal;
    --1920-b-26-font-family: Assistant-Bold, sans-serif;
    --1920-b-26-font-size: 26px;
    --1920-b-26-line-height: 100%;
    --1920-b-26-font-weight: 700;
    --1920-b-26-font-style: normal;
    --1920-b-26-font-family: Assistant-Bold, sans-serif;
    --1920-b-26-font-size: 26px;
    --1920-b-26-line-height: 130%;
    --1920-b-26-font-weight: 700;
    --1920-b-26-font-style: normal;
    --1920-l-26-font-family: Assistant-Light, sans-serif;
    --1920-l-26-font-size: 26px;
    --1920-l-26-line-height: 100%;
    --1920-l-26-font-weight: 300;
    --1920-l-26-font-style: normal;
    --1920-sb30-font-family: Assistant-SemiBold, sans-serif;
    --1920-sb30-font-size: 30px;
    --1920-sb30-line-height: 100%;
    --1920-sb30-font-weight: 600;
    --1920-sb30-font-style: normal;
    --1920-sb-34-font-family: Assistant-SemiBold, sans-serif;
    --1920-sb-34-font-size: 34px;
    --1920-sb-34-line-height: 130%;
    --1920-sb-34-font-weight: 600;
    --1920-sb-34-font-style: normal;
    --1920-l-30-font-family: Assistant-Light, sans-serif;
    --1920-l-30-font-size: 30px;
    --1920-l-30-line-height: 100%;
    --1920-l-30-font-weight: 300;
    --1920-l-30-font-style: normal;
    --1920-b-40-font-family: Assistant-Bold, sans-serif;
    --1920-b-40-font-size: 40px;
    --1920-b-40-line-height: 130%;
    --1920-b-40-font-weight: 700;
    --1920-b-40-font-style: normal;
    --1920-pre-b-30-font-family: Pretendard-Bold, sans-serif;
    --1920-pre-b-30-font-size: 30px;
    --1920-pre-b-30-line-height: 150%;
    --1920-pre-b-30-font-weight: 700;
    --1920-pre-b-30-font-style: normal;
    --1920-sb-24-font-family: Assistant-SemiBold, sans-serif;
    --1920-sb-24-font-size: 24px;
    --1920-sb-24-line-height: normal;
    --1920-sb-24-font-weight: 600;
    --1920-sb-24-font-style: normal;
    --1920-sb-40-100-font-family: Assistant-SemiBold, sans-serif;
    --1920-sb-40-100-font-size: 40px;
    --1920-sb-40-100-line-height: 100%;
    --1920-sb-40-100-font-weight: 600;
    --1920-sb-40-100-font-style: normal;
    --1920-r-20-font-family: Assistant-Regular, sans-serif;
    --1920-r-20-font-size: 20px;
    --1920-r-20-line-height: normal;
    --1920-r-20-font-weight: 400;
    --1920-r-20-font-style: normal;
    --1920-el-40-font-family: Assistant-ExtraLight, sans-serif;
    --1920-el-40-font-size: 40px;
    --1920-el-40-line-height: 100%;
    --1920-el-40-font-weight: 200;
    --1920-el-40-font-style: normal;
    --1920-r-80-font-family: Assistant-Regular, sans-serif;
    --1920-r-80-font-size: 80px;
    --1920-r-80-line-height: 100%;
    --1920-r-80-font-weight: 400;
    --1920-r-80-font-style: normal;
    --1920-sb-26-font-family: Assistant-SemiBold, sans-serif;
    --1920-sb-26-font-size: 26px;
    --1920-sb-26-line-height: 100%;
    --1920-sb-26-font-weight: 600;
    --1920-sb-26-font-style: normal;
    --1920-button-26-font-family: Assistant-Regular, sans-serif;
    --1920-button-26-font-size: 26px;
    --1920-button-26-line-height: 100%;
    --1920-button-26-font-weight: 400;
    --1920-button-26-font-style: normal;
    --1920-button-18-font-family: Assistant-Regular, sans-serif;
    --1920-button-18-font-size: 18px;
    --1920-button-18-line-height: 100%;
    --1920-button-18-font-weight: 400;
    --1920-button-18-font-style: normal;
    --1920-button-r-20-font-family: Assistant-Regular, sans-serif;
    --1920-button-r-20-font-size: 20px;
    --1920-button-r-20-line-height: normal;
    --1920-button-r-20-font-weight: 400;
    --1920-button-r-20-font-style: normal;
    --1920-button-b-20-font-family: Inter-Bold, sans-serif;
    --1920-button-b-20-font-size: 20px;
    --1920-button-b-20-line-height: 150%;
    --1920-button-b-20-font-weight: 700;
    --1920-button-b-20-font-style: normal;
    --1920-button-l-24-font-family: Assistant-Light, sans-serif;
    --1920-button-l-24-font-size: 24px;
    --1920-button-l-24-line-height: 100%;
    --1920-button-l-24-font-weight: 300;
    --1920-button-l-24-font-style: normal;
    --1920-body-l-20-font-family: Assistant-Regular, sans-serif;
    --1920-body-l-20-font-size: 20px;
    --1920-body-l-20-line-height: 130%;
    --1920-body-l-20-font-weight: 400;
    --1920-body-l-20-font-style: normal;
    --1920-body-b-20-font-family: Assistant-Bold, sans-serif;
    --1920-body-b-20-font-size: 20px;
    --1920-body-b-20-line-height: normal;
    --1920-body-b-20-font-weight: 700;
    --1920-body-b-20-font-style: normal;
    --1920-body-16-font-family: Assistant-Regular, sans-serif;
    --1920-body-16-font-size: 16px;
    --1920-body-16-line-height: 130%;
    --1920-body-16-font-weight: 400;
    --1920-body-16-font-style: normal;
    --1920-body-caption-font-family: Assistant-Regular, sans-serif;
    --1920-body-caption-font-size: 14px;
    --1920-body-caption-line-height: 130%;
    --1920-body-caption-font-weight: 400;
    --1920-body-caption-font-style: normal;
    --1920-body-r-20-font-family: Assistant-Regular, sans-serif;
    --1920-body-r-20-font-size: 20px;
    --1920-body-r-20-line-height: 100%;
    --1920-body-r-20-font-weight: 400;
    --1920-body-r-20-font-style: normal;
    --1920-body-r-20-130-font-family: Assistant-Regular, sans-serif;
    --1920-body-r-20-130-font-size: 20px;
    --1920-body-r-20-130-line-height: 130%;
    --1920-body-r-20-130-font-weight: 400;
    --1920-body-r-20-130-font-style: normal;
    --1920-body-r-20-font-family: Assistant-Regular, sans-serif;
    --1920-body-r-20-font-size: 20px;
    --1920-body-r-20-line-height: normal;
    --1920-body-r-20-font-weight: 400;
    --1920-body-r-20-font-style: normal;
    --1024-60-font-family: Assistant-Bold, sans-serif;
    --1024-60-font-size: 60px;
    --1024-60-line-height: 130%;
    --1024-60-font-weight: 700;
    --1024-60-font-style: normal;
    --1024-40-font-family: Assistant-Bold, sans-serif;
    --1024-40-font-size: 40px;
    --1024-40-line-height: 130%;
    --1024-40-font-weight: 700;
    --1024-40-font-style: normal;
    --1024-b-30-font-family: Assistant-Bold, sans-serif;
    --1024-b-30-font-size: 30px;
    --1024-b-30-line-height: 100%;
    --1024-b-30-font-weight: 700;
    --1024-b-30-font-style: normal;
    --1024-l-30-font-family: Assistant-Light, sans-serif;
    --1024-l-30-font-size: 30px;
    --1024-l-30-line-height: 100%;
    --1024-l-30-font-weight: 300;
    --1024-l-30-font-style: normal;
    --1024-20-font-family: Assistant-Bold, sans-serif;
    --1024-20-font-size: 20px;
    --1024-20-line-height: 130%;
    --1024-20-font-weight: 700;
    --1024-20-font-style: normal;
    --440-30-font-family: Assistant-Bold, sans-serif;
    --440-30-font-size: 30px;
    --440-30-line-height: 130%;
    --440-30-font-weight: 700;
    --440-30-font-style: normal;
    --440-50-font-family: Assistant-Bold, sans-serif;
    --440-50-font-size: 50px;
    --440-50-line-height: 130%;
    --440-50-font-weight: 700;
    --440-50-font-style: normal;
    --440-b-20-font-family: Assistant-SemiBold, sans-serif;
    --440-b-20-font-size: 20px;
    --440-b-20-line-height: 130%;
    --440-b-20-font-weight: 600;
    --440-b-20-font-style: normal;
    --440-l-20-font-family: Assistant-Light, sans-serif;
    --440-l-20-font-size: 20px;
    --440-l-20-line-height: 130%;
    --440-l-20-font-weight: 300;
    --440-l-20-font-style: normal;
    --440-l-16-font-family: Assistant-Light, sans-serif;
    --440-l-16-font-size: 16px;
    --440-l-16-line-height: 130%;
    --440-l-16-font-weight: 300;
    --440-l-16-font-style: normal;
    --440-b-16-font-family: Assistant-Bold, sans-serif;
    --440-b-16-font-size: 16px;
    --440-b-16-line-height: 130%;
    --440-b-16-font-weight: 700;
    --440-b-16-font-style: normal;
    --440-body-l-12-font-family: Assistant-Regular, sans-serif;
    --440-body-l-12-font-size: 12px;
    --440-body-l-12-line-height: 130%;
    --440-body-l-12-font-weight: 400;
    --440-body-l-12-font-style: normal;
    --440-body-b-18-font-family: Assistant-Bold, sans-serif;
    --440-body-b-18-font-size: 18px;
    --440-body-b-18-line-height: normal;
    --440-body-b-18-font-weight: 700;
    --440-body-b-18-font-style: normal;
    --440-body-l-18-font-family: Assistant-Regular, sans-serif;
    --440-body-l-18-font-size: 18px;
    --440-body-l-18-line-height: 130%;
    --440-body-l-18-font-weight: 400;
    --440-body-l-18-font-style: normal;
    --440-body-caption-font-family: Assistant-Regular, sans-serif;
    --440-body-caption-font-size: 10px;
    --440-body-caption-line-height: 130%;
    --440-body-caption-font-weight: 400;
    --440-body-caption-font-style: normal;
    --440-button-10-font-family: Assistant-Regular, sans-serif;
    --440-button-10-font-size: 10px;
    --440-button-10-line-height: 100%;
    --440-button-10-font-weight: 400;
    --440-button-10-font-style: normal;
    --440-footer-sb-16-font-family: Assistant-SemiBold, sans-serif;
    --440-footer-sb-16-font-size: 16px;
    --440-footer-sb-16-line-height: 100%;
    --440-footer-sb-16-font-weight: 600;
    --440-footer-sb-16-font-style: normal;
    --440-footer-10-font-family: Assistant-Regular, sans-serif;
    --440-footer-10-font-size: 10px;
    --440-footer-10-line-height: 100%;
    --440-footer-10-font-weight: 400;
    --440-footer-10-font-style: normal;
    --440-footer-r-18-font-family: Assistant-Regular, sans-serif;
    --440-footer-r-18-font-size: 18px;
    --440-footer-r-18-line-height: normal;
    --440-footer-r-18-font-weight: 400;
    --440-footer-r-18-font-style: normal;

    /* Effects */
}

/* Figma Color Variables of your File */
[data-1-mode="mode-1"] {
    /* mode-1 */
    --wt: #b7b7b7;
}

* {
    margin: 0 auto;
}

body {}