@charset "utf-8";

:root{
  /* 데스크톱 기본: (vw - 1520)/2, 단 최소 110px 보장 */
  --page-pad: clamp(110px, calc((100vw - 1520px) / 2), 2000px);
}

@media screen and (max-width:1024px) {

    :root   { --page-pad: 80px; }   /* ← 전역에서 고정 */

    header{
        display: none;
    }

    .inner {
        width: 100%;
        max-width: 100%;
    }

    section {
        padding: 0;
        /* padding: 100px 0; */
    }

    .main_cach {
        height: 100vh;
        padding: 500px 0 250px 0;
    }

    .main_cach .img_roll div {
        width: 250px;
        margin-right: 40px;
    }

    .main_cach .img_roll div img {
        width: 250px;
        height: 250px;
    }

    .main_cach .txt p.head_copy {
        font-size: 60px;
    }

    .main_cach .txt em {
        font-size: 20px;
    }

    h3.tit {
        font-size: 40px;
        width: 100%;
        margin-bottom: 50px;
    }


    .info-g .inner {
        width: 95%;
        max-width: 100%;
    }

    .info-g .icon_info {
        margin-bottom: 100px;
    }

    .info-g .icon_info ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0;
        width: 100%;
        height: 100%;
    }

    .info-g .icon_info ul li {
        width: 100%;
        height: 288px;
    }

    .info-g .icon_info ul li:nth-child(3) {
        background: var(--MainColor-400);
    }

    .info-g .icon_info ul li:nth-child(3) .icon_knowhow{
        background-image: url(../assets/icon_knowhow2.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        width: 80px;
    }


    .info-g .icon_info ul li:nth-child(3) .txt_w p{
        color: var(--MainColor-1400);
    }

    .info-g .icon_info ul li:nth-child(4) .txt_b p{
        color: var(--subRed2-900);
    }

    .info-g .icon_info ul li:nth-child(4) .icon-sales{
        background-image: url(../assets/icon_salesmarket2.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        width: 80px;
    }

    .info-g .icon_info ul li:nth-child(4) {
        background: var(--WF);
    }

    .info-g .icon_info ul li.box_w {
        border-radius: 80px 0 0 0;
    }

    .info-g .icon_info ul li.box_b {
        border-radius: 0 0 0 80px;
    }

    .info-g .icon_info ul li:first-child img {
        padding: 8px 0;
    }

    .info-g .icon_info ul li:nth-child(2) img {
        padding: 22px 0;
    }

    .info-g .icon_info ul li:nth-child(4) img {
        padding: 12px 0;
    }


    .info-g .icon_info ul li.box_w img {
        width: 70px;
    }

    .info-g .icon_info ul li.box_w .txt_w p {
        font-size: 40px;
    }

    .info-g .icon_info ul li.box_w .txt_w em {
        font-size: 20px;
    }

    .info-g .icon_info ul li.box_b img {
        width: 70px;
    }

    .info-g .icon_info ul li.box_b .txt_b p {
        font-size: 40px;
    }


    .info-g .icon_info ul li.box_b .txt_b em {
        font-size: 20px;
    }

    .info-g .txt_info .sub_tit {
        font-size: 30px;
        margin-bottom: 30px;
        width: 100%;
    }

    .info-g .txt_info .body_text ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1;
        gap: 30px;
    }

    .info-g .txt_info .body_text ul li {
        font-size: 20px;
        line-height: 130%;
        width: 862px;
        text-align: center;
    }

    .ci .inner {
        width: 862px;
    }

    .ci .bar {
        border-radius: 0 0 80px 80px;
    }

    .ci .cont {
        gap: 20px;
    }

    .ci .cont .logo,
    .ci .cont .symbol {
        padding: 20px 40px 0 40px;
        border-radius: 32px;
        width: 420px;
        height: 202px;
    }

    .ci .cont .logo img {
        width: 210px;
        margin-bottom: 20px;
    }

    .ci .cont .symbol img {
        width: 210px;
        margin-bottom: 20px;
    }

    .ci .cont em {
        font-size: 14px;
    }

    .ci .cont .symbol em:last-child {
        width: 428px;
        text-align: center;
        margin-bottom: 10px;
    }

    .ci button {
        width: 272px;
        height: 64px;
        font-size: 16px;
        border-radius: 12px;
    }


    .history .inner h3.tit {
        margin-top: 100px;
    }

    .history .cont_hori_swipe {
    margin-bottom: 62px;
}

.history .cont_hori_swipe ul li.y_group{
    width: max-content;
    margin-right: 50px;
    position: relative;
}

.history .cont_hori_swipe ul>li.y_group>ul>li {
    width: 314px;
}

.history .cont_hori_swipe ul li h5.years {
    position: absolute;
    left: 44px;
    font-size: 40px;
}

.history .cont_hori_swipe ul li p {
    font-size: 30px;
}


.history .cont_hori_swipe ul li img {
    width: 314px;
    height: 158px;
}

.history .cont_hori_swipe ul li em {
    width: 314px;
    font-size: 14px;
}

.history>.scroll_bar.swiper-scrollbar {
    width: calc(100vw - (var(--page-pad) * 2));
    margin-bottom: 100px;
}

.v_and_m {
   padding: 100px 0;
   height: 100%;
    padding-inline: var(--page-pad);
}

.v_and_m .cont article {
    width: 100%;
    height: 420px;
}

.v_and_m .cont article .txt {
    opacity: 0;
    transform: translateY(40px);
    left: 50px;
    right: 50px;
    top: 40%;
}

.v_and_m .cont article::before {
    background-image: url(../assets/vision_1024.jpg);
}

.v_and_m .cont article.mission::before {
    background-image: url(../assets/mission_1024.jpg);
}

.v_and_m .cont article::after {
    left: 50px;
    width: 100px;
    height: 50px;
    font-size: 16px;
}

.v_and_m .txt p {
    font-size: 30px;
}

.v_and_m .txt em {
    font-size: 14px;
}



}

@media screen and (max-width:440px) {

    :root   { --page-pad: 24px; }

    .main_cach .txt {
        max-width: 382px;
    }

    .main_cach .txt p.head_copy {
        font-size: 50px;
    }

    .main_cach .txt em {
        font-size: 18px;
    }


    .history .inner h3.tit {
        margin-top: 100px;
    }

    .history .cont_hori_swipe {
    margin-bottom: 62px;
}

.history .cont_hori_swipe ul li.y_group{
    width: max-content;
    margin-right: 90px;
    position: relative;
}

.history .cont_hori_swipe ul>li.y_group>ul>li {
    width: 314px;
}

.history .cont_hori_swipe ul li h5.years {
    position: absolute;
    left: 34px;
    font-size: 30px;
}

.history .cont_hori_swipe ul li p {
    font-size: 30px;
}


.history .cont_hori_swipe ul li img {
    width: 260px;
    height: 132px;
}

.history .cont_hori_swipe ul li em {
    width: 314px;
    font-size: 14px;
}

    .history>.scroll_bar.swiper-scrollbar {
    width: calc(100vw - (var(--page-pad) * 2));
    margin-bottom: 80px;
}
}